* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: openSans;
}



header {
   background: url(apples.jpg);
   background-size: cover;
   background-position: center;
   height: 900px;
   width: 100%;
}

.header-logo {
    padding: 14px 16px;
    position: relative;
    overflow: hidden;
    float: left;
    margin-left: 15%;
    text-transform: uppercase;
    color: white;
}

div .nav {
    margin-left: 15%;
}

ul {
    list-style-type: none;
    overflow: hidden;
    position: relative;
    margin-right: 15%;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    border-bottom: 1px solid #bbb;
    transition: all .3s;
}

.title {
    color: white;
    text-align: center;
    margin-top: 20%;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 3em;
    margin-bottom: 0;
}

.origin {
    margin-top: 0;
    font-size: .4em;
    text-transform: none;
}


button {
    width: 100px;
    height: 30px;
    border: white .5px solid;
    color: white;
    margin: 1px auto;
    margin-top: 15%;
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
}



#tm {
    font-size: .5em;
}

.amp {
    font-size: 3em;
}

.sp-text {
    font-weight: bold;
}

.container-top {
    display: block;
    height: 200px;
}

.first-table {
    margin-top: 10%;
    padding-left: 15%;
    padding-right: 15%;
    width: 100%;
}

.left {
    line-height: 1.5em;
    font-size: 1.2em;
    padding-right: 5%;
    vertical-align: top;
    width: 40%;
    text-align: left;
}

.right {
    font-size: .9em;
    text-align: left;
    padding-left: 5%;
    width: 40%;
}

.content {
    width: 100%;
    height: 100%;
    background: #eee;
}

.describe {
    padding-top: 8%;
    text-align: center;
}

.gallery {
    padding-top: 7%;
    padding-left: 15%;
    padding-right: 15%;
}

.sample1 {
    margin-right: 5px;
}
